amqp==2.2.2
billiard==3.5.0.3
celery==4.1.0
celery-with-redis==3.0
click==6.7
configparser==3.5.0
Flask==0.12.2
Flask-Cors==3.0.3
Flask-HTTPAuth==3.2.3
Flask-Login==0.4.1
Flask-SQLAlchemy==2.3.2
itsdangerous==0.24
Jinja2==2.10
kombu==4.1.0
MarkupSafe==1.0
mysql-connector-python==8.0.5
mysqlclient==1.3.12
numpy==1.14.2
pandas==0.22.0
PyMySQL==0.7.11
python-dateutil==2.7.0
pytz==2018.3
redis==2.10.6
scikit-learn==0.19.1
scipy==1.0.0
shadowsocks==2.8.2
six==1.11.0
sklearn==0.0
SQLAlchemy==1.1.15
vine==1.1.4
Werkzeug==0.13
